body{
  background-color: #000000;
}
.main{
  height: 10000px;
  width: 100%;
}
/*grid*/
.marcadores{
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns:  repeat(4, 215px);
  grid-template-rows: repeat(4, 215px);
  grid-column-gap:20px;
  grid-row-gap: 20px;
}
.marcadores > div{
  display: flex;
  text-align: center;
  justify-content: center;
}
.titulo{
  display: grid;
  grid-column:2/4;
  grid-row-start:2 ;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  
}

/*texto*/
.botonCrayola{
  display: flex;
  align-items: center;
  color: #F7BE81; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242; /*sombra texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 40px;
  font-weight: 600;/*grosor texto*/
}

.botonTombow{
  display: flex;
  align-items: center;
  color: #F7BE81; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242;
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 40px;
  font-weight: 600;
}
.stabiloBoss{
  display: flex;
  align-items: center;
  color:#F7BE81;
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242;
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 40;
  font-weight: 600;
}

.stabiloPoint88{
  display: flex;
  align-items: center;
  color: #F7BE81; /*color texto*/
  font-weight: 600;
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242;
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 40px;
}
.artline-stik{
  display: flex;
  align-items: center;
  color: #F7BE81; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242; /*sombra texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 35px;
  font-weight: 600;/*grosor texto*/
}
/*diseno*/

.crayola{
  display: flex;
  justify-content: center;
  display: grid;
  grid-column: 1/3;
  width: 435px;
  height: 200px;
  padding: 0.5rem;
  display: inline-block;
  background-image: url("https://i.pinimg.com/564x/4e/9b/cd/4e9bcd6e829921b47987833b112f4ad7.jpg"); /*color botón*/
  /*definir el margen y que no este tan pegadito de 20 px
  que solo crezca a la derecha
  jugar grid garden
  que despligue breve info y al dar click mas informacion*/
}
.tombow{

  width: 200px;
  height: 200px;
  padding: 0.5rem;
  display: inline-block;
  background-image: url("https://i.pinimg.com/474x/d5/a2/c7/d5a2c777903aa0c7ac5837a372b2c8e5.jpg" ); /*color botón*/
}
.stabilo_boss{
  display: grid;
  grid-column-start: 4;
  grid-row: 1/3;
  width: 200px;
  height: 435px;
  padding: 0.5rem;
  display: inline-block;
  background-image: url("https://cdn.shopify.com/s/files/1/1051/3728/products/41BoGe4EAaL._AC_800x.jpg?v=1571467620");
  background-size: 400px 475px;
}
.point88{
  width: 200px;
  height: 200px;
  padding: 0.5rem;
  display: inline-block;
  background-image: url("https://i.pinimg.com/474x/b0/2c/1e/b02c1e511366816f57e8e22550518320.jpg"); /*color botón*/

}
.crayola:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.tombow:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.stabilo_boss:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.point88:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
