body{
  background-color: #000000;
}
.main{
  height: 10000px;
  width: 100%;
}
.title{
  display: flex;
  color: #FFFFFF;
  font-family: cursive;
  font-size: 50px;
  justify-content: center;
}

.marcadores{
  display: grid;
  grid-template-columns: repeat(2, 415px);
  grid-template-rows: repeat(2, 270px);
}
.botonCrayola{
  color: #F7BE81; /*color texto*/
  font-weight: 600px;
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242;
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 40px;
  font-weight: 600;
}


.botonTombow{
  color: #F7BE81; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242;
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 40px;
  font-weight: 600;
}
.stabiloBoss{
  color:#F7BE81;
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242;
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 40;
  font-weight: 600;
}

.stabiloPoint88{
  color: #F7BE81; /*color texto*/
  font-weight: 600;
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242;
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 40px;

}
.crayola{
  margin-left: 20px;
  width: 390px;
  height: 245px;
  padding: 0.5rem;
  display: inline-block;
  background-image: url("https://i.pinimg.com/564x/4e/9b/cd/4e9bcd6e829921b47987833b112f4ad7.jpg"); /*color botón*/
  /*definir el margen y que no este tan pegadito de 20 px
  que solo crezca a la derecha
  jugar grid garden
  que despligue breve info y al dar click mas informacion*/
}
.tombow{
  margin-left: 20px;
  width: 390px;
  height: 245px;
  padding: 0.5rem;
  display: inline-block;
  background-image: url("https://i.pinimg.com/474x/d5/a2/c7/d5a2c777903aa0c7ac5837a372b2c8e5.jpg" ); /*color botón*/
}
.stabilo_boss{
  margin-left: 20px;
  width: 390px;
  height: 245px;
  padding: 0.5rem;
  display: inline-block;
  background-image: url("https://cdn.shopify.com/s/files/1/1051/3728/products/41BoGe4EAaL._AC_800x.jpg?v=1571467620");
}
.point88{
  margin-left: 20px;
  width: 390px;
  height: 245px;
  padding: 0.5rem;
  display: inline-block;
  background-image: url("https://i.pinimg.com/474x/b0/2c/1e/b02c1e511366816f57e8e22550518320.jpg"); /*color botón*/

}
.crayola:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
