
body{

}

a{
  width: 260px;
  height: 110px;
  margin: 25px 5px;
  text-align: center;
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: Just tell me what;
  color: black;
  text-decoration-style: none;
  font-size: 35px;
}


nav{

  display: flex;
  align-items: center;
  justify-content:space-around;
  height: 250px;
  width: 100%;

}

.masBullet{
  text-align: center;
  background-image: url("https://i.pinimg.com/236x/4d/a8/dd/4da8dd9ff17bda8e3c939c0159858632.jpg");
  background-size: contain;
  font-family: "Buttercup Script";
  display: flex;
  font-size: 50px;
  text-decoration: none;
  border-radius: 80px;
  padding: 5px 5px;
  width: 250px;
  height: 100px;
  align-items: baseline;

}


.masCuaderno{
  text-align: center;
  background-image: url("https://i.pinimg.com/236x/4d/a8/dd/4da8dd9ff17bda8e3c939c0159858632.jpg");
  background-size: contain;
  font-family: "Buttercup Script";
  display: flex;
  font-size: 50px;
  text-decoration: none;
  border-radius: 80px;
  padding: 5px 5px;
  width: 250px;
  height: 100px;
}

.texto{
  text-decoration-style: none;
}
