body{
  background-color: #000000;
}
.main{
  height: 1000px;
  width: 100%;
}
/*grid*/
.marcadores{
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns:  repeat(4, 215px);
  grid-template-rows: repeat(4, 215px);
  grid-column-gap:20px;
  grid-row-gap: 20px;
}
.marcadores > div{
  display: flex;
  text-align: center;
  justify-content: center;
}
.titulo{
  display: grid;
  grid-column:2/4;
  grid-row-start:2 ;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/

}

/*texto*/
.botonCrayola{
  display: flex;
  align-items: center;
  color: #F7BE81; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242; /*sombra texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 40px;
  font-weight: 600;/*grosor texto*/
}

.botonTombow{
  display: flex;
  align-items: center;
  color: #F7BE81; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242;
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 40px;
  font-weight: 600;
}
.stabiloBoss{
  display: flex;
  align-items: center;
  color:#F7BE81;
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242;
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 40px;
  font-weight: 600;
}

.stabiloPoint88{
  display: flex;
  align-items: center;
  color: #F7BE81; /*color texto*/
  font-weight: 600;
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242;
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 40px;
}
.botonaArtline{
  display: flex;
  align-items: center;
  color: #F7BE81; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242; /*sombra texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 40px;
  font-weight: 600;/*grosor texto*/
}
.twin-tone{
  display: flex;
  align-items: center;
  color: #F7BE81; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242; /*sombra texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 40px;
  font-weight: 600;/*grosor texto*/
}
.pentel_touch{
  display: flex;
  align-items: center;
  color: #F7BE81; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242; /*sombra texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 40px;
  font-weight: 600;/*grosor texto*/
}
.mildliner{
  display: flex;
  align-items: center;
  color:#F7BE81;
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242;
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 40px;
  font-weight: 600;
}
.zig{
  display: flex;
  align-items: center;
  color:#F7BE81;
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242;
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 40px;
  font-weight: 600;
}
.sharpie{
  display: flex;
  align-items: center;
  color:#F7BE81;
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  text-shadow: 2px 2px 2px #424242;
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  font-size: 40px;
  font-weight: 600;
}

/*diseno*/
.crayola{
  display: flex;
  justify-content: center;
  display: grid;
  grid-column: 1/3;
  width: 435px;
  height: 200px;
  padding: 0.5rem;
  display: inline-block;
  background-image: url("https://i.pinimg.com/564x/4e/9b/cd/4e9bcd6e829921b47987833b112f4ad7.jpg"); /*color botón*/
  /*definir el margen y que no este tan pegadito de 20 px
  que solo crezca a la derecha
  jugar grid garden
  que despligue breve info y al dar click mas informacion*/
}
.tombow{
  width: 200px;
  height: 200px;
  padding: 0.5rem;
  display: inline-block;
  background-image: url("https://i.pinimg.com/474x/d5/a2/c7/d5a2c777903aa0c7ac5837a372b2c8e5.jpg" ); /*color botón*/
}
.stabilo_boss{
  display: grid;
  grid-column-start: 4;
  grid-row: 1/3;
  width: 200px;
  height: 435px;
  padding: 0.5rem;
  display: inline-block;
  background-image: url("https://cdn.shopify.com/s/files/1/1051/3728/products/41BoGe4EAaL._AC_800x.jpg?v=1571467620");
  background-size: 400px 475px;
}
.point88{
  width: 200px;
  height: 200px;
  padding: 0.5rem;
  display: inline-block;
  background-image: url("https://i.pinimg.com/474x/b0/2c/1e/b02c1e511366816f57e8e22550518320.jpg"); /*color botón*/
}
.artline-stik{
  display: grid;
  grid-row:3/5;
  width: 200px;
  height: 435px;
  padding: 0.5rem;
  display: inline-block;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR7aUOVJSv3COgZQzmLnBPWGjSg5UjXRHYLhHtyo_mgxzv2U2fx&usqp=CAU"); /*color botón*/
}
.tombowTwin{
  display: grid;
  grid-column-start: 2;
  width: 200px;
  height: 200px;
  padding: 0.5rem;
  display: inline-block;
  background-image: url("https://i.pinimg.com/474x/b9/21/15/b92115b7151cdd845909f2243c7857ae.jpg");
}
.pentel{
  width: 200px;
  height: 200px;
  padding: 0.5rem;
  display: inline-block;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSdps-w2PwahA3EN31WWhfG2XiCjmcGotkOqSyG-yoMqlQGKAB9&usqp=CAU"); /*color botón*/
  background-size: 230px 230px;
}
.boton_mildliner{
  width: 200px;
  height: 200px;
  padding: 0.5rem;
  display: inline-block;
  background-image: url("https://i.pinimg.com/474x/64/44/d8/6444d83644b6882e7a40975ed2bde912.jpg"); /*color botón*/
  background-size: 230px 230px;
}
.zig_brushables{
  display: grid;
  grid-column: 3 / 5;
  width: 435px;
  height: 200px;
  padding: 0.5rem;
  display: inline-block;
  background-image: url("https://i.pinimg.com/474x/3a/db/73/3adb7384dcc762e235a99b0aa1eb7000.jpg"); /*color botón*/
  background-size: 435px 300px;
}
.boton_sharpie{
  display: grid;
  grid-column-start: 3;
  grid-row-start: 3;
  width: 200px;
  height: 200px;
  padding: 0.5rem;
  display: inline-block;
  background-image: url("https://i.pinimg.com/474x/f7/40/62/f74062a187b46014e2cf2b249792a0c9.jpg"); /*color botón*/
  background-size: 230px 230px;
}
/*zoom*/

.crayola:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  box-shadow: 5px 5px 20px 10px #424242;
}
.tombow:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  box-shadow: 5px 5px 20px 10px #424242;
}
.stabilo_boss:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  box-shadow: 5px 5px 20px 10px #424242;
}
.point88:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  box-shadow: 5px 5px 20px 10px #424242;
}
.tombowTwin:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  box-shadow: 5px 5px 20px 10px #424242;
}
.artline-stik:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  box-shadow: 5px 5px 20px 10px #424242;
}
.pentel:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  box-shadow: 5px 5px 20px 10px #424242;
}
.boton_mildliner:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  box-shadow: 5px 5px 20px 10px #424242;
}
.zig_brushables:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  box-shadow: 5px 5px 20px 10px #424242;
}
.boton_sharpie:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  box-shadow: 5px 5px 20px 10px #424242;
}
